
body {
    background-color: #47807daa;
   
  }
  h1{
 
    color: #fff;
    padding-right: 75px;
    text-align: center;
  }

.section1{
  text-align: center;
}

h3{
 

  padding-right: 45px;
  text-align: center;
}
p{
 
  color: #fff;
  padding-right: 75px;
  text-align: center;
}
form{
    margin-bottom: 10px;
    padding: 10px;
    border:1px solid #ccc;
    background-color: #47807daa;
    cursor: pointer;
  padding-right: 75px;
  text-align: center;
}

select{
 

  text-align: right;
}

ul{
  color: #360f0f;
  text-align: center;
}
ul#productList li{
  margin-bottom: 10px;
  padding: 10px;
  border:1px solid #ccc;
  background-color: antiquewhite;
  cursor: pointer;
}