
body {
    background-color: #47807daa;
   
  }
  h1{
    background-color: #d8cdcd;
    color: #fff;
    padding-right: 75px;
  }
  h2{
    background-color: #d8cdcd;
    color: #fff;
    padding-right: 75px;
  }
  
  
