
body {
    background-color: #47807daa;
   
  }
  h1{
 
    color: #fff;
    padding-right: 75px;
    text-align: center;
  }
.option{
  text-align:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.section1{
  text-align: center;
}

h2{
 

  padding-right: 45px;
  text-align: center;
}
p{
 
  color: #fff;
  padding-right: 75px;
  text-align: center;
}
form{
 
  color: #fff;
  padding-right: 75px;
  text-align: center;
}

select{
 

  text-align: right;
}

